<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Creative Agency
		link(rel="stylesheet", href="./style.css")
	body
		header.header#home
			.container
				nav.navigation
					a.navigation__logo(href="./index.html"): img.navigation__logo__img(src="./images/logo.png", alt="Arrow Design Logo")
					ul.navigation__list
						li.navigation__item.navigation__item--active
							a.navigation__link(href="#home") Home
						li.navigation__item
							a.navigation__link(href="#about-us") About Us
						li.navigation__item
							a.navigation__link(href="#services") Services
						li.navigation__item
							a.navigation__link(href="#portfolio") Portfolio
						li.navigation__item
							a.navigation__link(href="#our-team") Our Team
						li.navigation__item
							a.navigation__link(href="#news") News
						li.navigation__item
							a.navigation__link(href="#contact") Contact

				h1.heading.header__heading.
					Welcome to the #[span.heading--accent award winning] agency

				p.paragraph.header__paragraph.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim

				.header__actions
					button.button.button--accent Read More
					button.button Read More

		section.section.section--creative#about-us
			.container
				.section__side
					h2.heading
						span.heading__part About
						span.heading__part Creative
						span.heading__part Agency

					p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

				.section__content
					.section__content__bg
						img.section__content__bg__img(src="./images/creative--bg.png", alt="man")

					ul.creative
						li.creative__item
							.creative__side
								h3.heading
									span.heading__part Working Hours
									span.heading__part.heading__part--small Designer Name

							.creative__content
								p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex

						li.creative__item
							.creative__side
								h3.heading
									span.heading__part Working Hours
									span.heading__part.heading__part--small Designer Name

							.creative__content
								p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex

						li.creative__item
							.creative__side
								h3.heading
									span.heading__part Working Hours
									span.heading__part.heading__part--small Designer Name

							.creative__content
								p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex

						li.creative__item
							.creative__side
								h3.heading
									span.heading__part Working Hours
									span.heading__part.heading__part--small Designer Name

							.creative__content
								p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex

		section.section.section--special#services
			.container
				.section__side
					h2.heading
						span.heading__part Our
						span.heading__part Special
						span.heading__part Services

				.section__content
					ul.special
						li.special__item
							img.special__img(src="./images/special/globe.svg", alt="globe")
							h3.heading.heading--accent Achieves
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut

						li.special__item
							img.special__img(src="./images/special/thunder.svg", alt="thunder")
							h3.heading.heading--accent Designer
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut

						li.special__item
							img.special__img(src="./images/special/box.svg", alt="box")
							h3.heading.heading--accent Perfect Design
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut

						li.special__item
							img.special__img(src="./images/special/umbrella.svg", alt="umbrella")
							h3.heading.heading--accent Perfect Design
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut

						li.special__item
							img.special__img(src="./images/special/note.svg", alt="note")
							h3.heading.heading--accent Achieves
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut

						li.special__item
							img.special__img(src="./images/special/point-finger.svg", alt="point finger")
							h3.heading.heading--accent Achieves
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut

		section.section.section--design#news
			.container
				.section__side
					h2.heading
						span.heading__part Latest
						span.heading__part Design
						span.heading__part Blog

				.section__content
					ul.design
						li.design__item.design__item--a
							.design__img-wrapper
								img.design__img(src="./images/design/robot-head.jpg", alt="robot head")
								.design__date-wrapper
									span.design__date--big 24
									span.design__date--small Dec, 18
							h3.heading Designed and built with care
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim

						li.design__item.design__item--b
							.design__img-wrapper
								img.design__img(src="./images/design/men.jpg", alt="men")
								.design__date-wrapper
									span.design__date--big 24
									span.design__date--small Dec, 18
							h3.heading Designed and built with care
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim

						li.design__item.design__item--c
							.design__img-wrapper
								img.design__img(src="./images/design/bookshelf.jpg", alt="bookshelf")
								.design__date-wrapper
									span.design__date--big 24
									span.design__date--small Dec, 18
							h3.heading Designed and built with care
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim

						li.design__item.design__item--d
							.design__img-wrapper
								img.design__img(src="./images/design/woman.png", alt="woman")
								.design__date-wrapper
									span.design__date--big 24
									span.design__date--small Dec, 18
							h3.heading Designed and built with care
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim

		section.section.section--team#our-team
			.container
				.section__side
					h2.heading
						span.heading__part Creative
						span.heading__part Team
						span.heading__part Members

				.section__content
					ul.team
						li.team__item
							img.team__img(src="./images/team/men.png", alt="men")
							h3.heading
								span.heading__part Designer Name
								span.heading__part.heading__part--accent.heading__part--small Graphic Designer
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna

						li.team__item
							img.team__img(src="./images/team/men-2.png", alt="men")
							h3.heading
								span.heading__part Designer Name
								span.heading__part.heading__part--accent.heading__part--small Graphic Designer
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna

						li.team__item
							img.team__img(src="./images/team/woman.png", alt="woman")
							h3.heading
								span.heading__part Designer Name
								span.heading__part.heading__part--accent.heading__part--small Graphic Designer
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna

		section.section.section--portfolio#portfolio
			.container.container--portfolio
				ul.portfolio
					li.portfolio__item.portfolio__item--a
						img.portfolio__img(src="./images/portfolio/card-1.png", alt="card")
					li.portfolio__item.portfolio__item--b
						img.portfolio__img(src="./images/portfolio/card-2.png", alt="card")
					li.portfolio__item.portfolio__item--c
						img.portfolio__img(src="./images/portfolio/card-3.png", alt="card")
					li.portfolio__item.portfolio__item--d
						h2.heading
							span.heading__part Our
							span.heading__part Portfolio
							span.heading__part Gallery
					li.portfolio__item.portfolio__item--e
						img.portfolio__img(src="./images/portfolio/card-4.png", alt="card")
					li.portfolio__item.portfolio__item--f
						img.portfolio__img(src="./images/portfolio/card-5.png", alt="card")
					li.portfolio__item.portfolio__item--g
						img.portfolio__img(src="./images/portfolio/card-6.png", alt="card")

		section.section.section--designs
			.container
				.section__side
					h2.heading
						span.heading__part Our
						span.heading__part Designs
						span.heading__part Package

				.section__content
					ul.designs
						li.designs__item
							img.designs__img(src="./images/designs/lamp.png", alt="lamp")
							h3.heading
								span.heading__part Designer Name
								span.heading__part.heading__part--accent.heading__part--small Graphic Designer
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							span.heading.designs__price $50
							button.button.button--accent Read More

						li.designs__item
							img.designs__img(src="./images/designs/cart.png", alt="cart")
							h3.heading
								span.heading__part Designer Name
								span.heading__part.heading__part--accent.heading__part--small Graphic Designer
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							span.heading.heading--accent.designs__price $500
							button.button.button--accent Read More

						li.designs__item
							img.designs__img(src="./images/designs/picture.png", alt="picture")
							h3.heading
								span.heading__part Designer Name
								span.heading__part.heading__part--accent.heading__part--small Graphic Designer
							p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							span.heading.designs__price $1000
							button.button.button--accent Read More

		section.section.section--find-us#contact
			.container
				.section__side
					h2.heading
						span.heading__part How
						span.heading__part.heading__part--accent Find Us

					ul.find-us
						li.find-us__item
							img.find-us__img(src="./images/find-us/map.png", alt="map")
							.find-us__info
								h3.heading.heading--accent Address
								p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

						li.find-us__item
							img.find-us__img(src="./images/find-us/phone.png", alt="phone")
							.find-us__info
								h3.heading.heading--accent Call Us
								p.paragraph +123 4567 8900
								p.paragraph +123 4567 8900

						li.find-us__item
							img.find-us__img(src="./images/find-us/envelope.png", alt="envelope")
							.find-us__info
								h3.heading.heading--accent Email
								p.paragraph free@psdfreebies.com

						li.find-us__item
							img.find-us__img(src="./images/find-us/pc.png", alt="pc")
							.find-us__info
								h3.heading.heading--accent Website
								p.paragraph www.psdfreebies.com

				.section__content
					img.section__img-bg(src="./images/find-us--bg.png", alt="apple laptop")


		footer.footer
			p.paragraph Copyright &copy; 2017. Design by PSDFreebies.com
