@font-face {
  font-family: 'Bebas Neue';
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url("./fonts/bebasneuebold.woff2") format("woff2"), url("./fonts/bebasneuebold.woff") format("woff"), url("./fonts/bebasneuebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), local("OpenSans"), url("./fonts/opensans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), local("OpenSans"), url("./fonts/opensans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: noramal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), local("OpenSans"), url("./fonts/opensans-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

html {
  color: #636363;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.container--portfolio {
  display: block !important;
  max-width: 1600px;
}

.heading {
  color: #454443;
  line-height: 80.59px;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 87px;
  font-weight: 700;
}

.heading--accent {
  color: #d25b38;
}

.heading__part {
  display: block;
}

.heading__part--accent {
  color: #d25b38;
}

.heading__part:nth-child(2):not(:last-child) {
  color: #d25b38;
}

.paragraph {
  margin: 0;
}

.button {
  align-items: center;
  background-color: transparent;
  border: 5px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 10px 50px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  transition: 0.1s ease-out;
}

.button:hover {
  color: #636363;
  background-color: #ffffff;
}

.button--accent {
  background-color: #d25b38;
  border-color: #d25b38;
  color: #ffffff;
}

.button--accent:hover {
  color: #ffffff;
  background-color: #f07752;
  border-color: #f07752;
}

.button:not(:last-child) {
  margin-right: 24px;
}

.header {
  background-color: #2d1506;
  background-image: url("./images/header--bg.jpg");
  background-position: center -220px;
  background-repeat: no-repeat;
  color: #ffffff;
  min-height: 90vh;
  padding: 56px 0;
}

.header__heading {
  color: #fff;
  margin-top: 164px;
  max-width: 720px;
  font-size: 95px;
}

.header__paragraph {
  margin-top: 54px;
  max-width: 840px;
  font-size: 25px;
}

.header__actions {
  margin-top: 76px;
}

.section {
  padding: 84px 0;
}

.section:nth-child(odd) {
  background-color: #f4f2f2;
}

.section__side {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-right: 30px;
}

.section__content {
  position: relative;
}

.section__content__bg {
  background-color: #d25b38;
  display: block;
  margin: -60px 0 -84px 0;
  height: 770px;
  width: 400px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.section__content__bg__img {
  height: 770px;
  mix-blend-mode: multiply;
  object-fit: contain;
  object-position: center;
  transform: translateX(-25%);
}

.section .container {
  display: grid;
  grid-template-columns: 346px 1fr;
}

.section--creative {
  padding-top: 60px;
}

.section--creative .section__side .paragraph {
  margin-top: 40px;
}

.section--find-us {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.section--find-us .container {
  width: 1200px;
  grid-template-columns: 465px 1fr;
}

.section--find-us .section__side {
  justify-content: flex-start;
  padding-right: 0;
}

.section--find-us .section__side > .heading {
  margin-bottom: 58px;
}

.section--find-us .section__img-bg {
  height: 100%;
}

.navigation {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
  flex-wrap: wrap;
}

.navigation__logo {
  display: inline-block;
}

.navigation__list {
  display: inline-block;
  line-height: 1;
  margin: 0 0 9px 15px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
}

.navigation__item {
  cursor: pointer;
  display: inline-block;
  transition: 0.1s ease-out;
}

.navigation__item:not(:last-child) {
  margin-right: 6px;
}

.navigation__item--active, .navigation__item:focus, .navigation__item:hover {
  border-bottom: 4px solid #ffffff;
}

.navigation__link {
  display: inline-block;
  padding: 13px;
}

.creative {
  padding-left: 70px;
}

.creative__item {
  display: grid;
  grid-template-columns: 270px 1fr;
  column-gap: 120px;
}

.creative__item:not(:first-child) {
  margin-top: 26px;
}

.creative__side {
  position: relative;
}

.creative__side::after {
  background-color: #ffffff;
  background-image: url(./images/creative--icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100%;
  box-shadow: 0 0 0 13px rgba(199, 40, 25, 0.45);
  content: "";
  height: 60px;
  width: 60px;
  position: absolute;
  right: -90px;
  top: 0;
}

.creative .heading {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  line-height: 1;
  font-size: 40px;
  text-align: right;
  padding-bottom: 49px;
}

.creative .heading__part--small {
  font-size: 25px;
}

.special {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 27px;
}

.special__item {
  background-color: #ffffff;
  padding: 50px 20px;
  text-align: center;
}

.special__item .heading {
  line-height: 36px;
  font-size: 25px;
}

.special__img {
  max-width: 100%;
}

.design {
  display: grid;
  grid-template-areas: "a a d" "b b d" "c c d";
  gap: 30px;
}

.design__item {
  display: grid;
  grid-template-areas: "a b b" "a c c";
  grid-template-rows: minmax(36px, auto) 1fr;
  column-gap: 25px;
}

.design__item--a {
  grid-area: a;
}

.design__item--b {
  grid-area: b;
}

.design__item--c {
  grid-area: c;
}

.design__item--d {
  background-color: #464646;
  box-sizing: border-box;
  align-self: start;
  display: flex;
  grid-area: d;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  min-height: 600px;
  padding-top: 100px;
  position: relative;
}

.design__item--d .design__img-wrapper {
  background-color: #000;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.design__item--d .design__img-wrapper .design__img {
  opacity: 0.9;
}

.design__item--d .design__date-wrapper {
  bottom: auto;
  top: 12px;
}

.design__item--d .heading,
.design__item--d .paragraph {
  color: #ffffff;
  margin-left: 30px !important;
  margin-right: 30px !important;
  z-index: 2;
}

.design__item--d .paragraph {
  margin-bottom: 30px;
}

.design__item .heading {
  line-height: 25px;
  margin: 0;
  grid-area: b;
  font-size: 25px;
}

.design__item .paragraph {
  grid-area: c;
  font-size: 15px;
}

.design__img-wrapper {
  height: max-content;
  max-height: 100%;
  width: 256px;
  grid-area: a;
  overflow: hidden;
  position: relative;
}

.design__img {
  display: block;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.design__date-wrapper {
  background-color: #d25b38;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  bottom: 12px;
  left: 18px;
  padding: 6px;
  position: absolute;
  text-align: center;
}

.design__date--big {
  line-height: 50px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 52px;
}

.design__date--small {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.team,
.designs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
}

.team__item,
.designs__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.team__img,
.designs__img {
  margin-bottom: 40px;
  max-height: 407px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.team .heading,
.designs .heading {
  line-height: 36px;
  margin-bottom: 15px;
  font-size: 40px;
}

.team .heading__part--small,
.designs .heading__part--small {
  font-size: 25px;
}

.portfolio {
  display: grid;
  grid-auto-rows: 265px;
  grid-template-areas: "a a b b" "c d e g" "c d f g";
  width: 100%;
}

.portfolio__item--a {
  grid-area: a;
}

.portfolio__item--b {
  grid-area: b;
}

.portfolio__item--c {
  grid-area: c;
}

.portfolio__item--d {
  align-self: end;
  grid-area: d;
  padding: 50px;
}

.portfolio__item--e {
  grid-area: e;
}

.portfolio__item--f {
  grid-area: f;
}

.portfolio__item--g {
  grid-area: g;
}

.portfolio__img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.2s ease-out;
}

.portfolio__img:hover {
  transform: scale(1.1);
}

.designs__item {
  background-color: #ffffff;
  padding: 50px 25px 25px 25px;
}

.designs__img {
  height: 90px;
  object-fit: contain;
}

.designs__price.heading {
  line-height: 65px;
  margin-bottom: 25px;
  font-size: 70px;
}

.designs .paragraph {
  margin-bottom: 40px;
}

.find-us__item {
  display: flex;
  margin-bottom: 30px;
}

.find-us__img {
  height: 55px;
  margin-right: 32px;
  object-fit: contain;
  object-position: center;
}

.find-us__info {
  padding-top: 20px;
  max-width: 265px;
}

.find-us .heading {
  line-height: 36px;
  font-size: 30px;
}

.footer {
  background-color: #f2f2f2;
  padding: 66px 0;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .section--find-us .container {
    width: 1000px;
  }
}

@media screen and (max-width: 1070px) {
  .section__side {
    padding-right: 0;
  }
  .section__side .heading {
    text-align: center;
    margin-bottom: 80px;
  }
  .section__side .heading__part {
    display: inline-block;
  }
  .section__side .heading__part:not(:last-child) {
    margin-right: 1ch;
  }
  .section__side > .paragraph {
    display: none;
  }
  .section--creative .section__side {
    margin-bottom: 20px;
  }
  .section .container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .find-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  .find-us__item {
    align-self: center;
  }
  .find-us .heading {
    margin-bottom: 0;
    text-align: left;
  }
  .section--find-us .section__content {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .navigation {
    justify-content: center;
  }
  .navigation__logo {
    margin-bottom: 20px;
  }
  .find-us {
    column-gap: 30px;
  }
  .find-us__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .find-us__info {
    width: 100%;
    text-align: center;
  }
  .find-us .heading {
    text-align: center;
  }
  .portfolio {
    grid-template-areas: "d d d" "a b c" "e f g";
    grid-template-rows: auto;
  }
  .portfolio__item--d {
    padding: 0 0 60px 0;
    text-align: center;
  }
  .portfolio .heading {
    display: flex;
    justify-content: center;
  }
  .portfolio .heading__part:not(:last-child) {
    margin-right: 1ch;
  }
}

@media screen and (max-width: 800px) {
  .heading {
    font-size: 70px;
  }
  .header {
    text-align: center;
  }
  .header__heading {
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio {
    grid-template-areas: "d d" "a b" "c e" "f g";
  }
  .section--creative .section__content__bg {
    display: none;
  }
  .creative {
    padding-left: 20px;
  }
  .creative__item {
    column-gap: 30px;
  }
  .creative .heading {
    color: #464646;
  }
  .creative .heading__part:first-child {
    color: #d25b38;
  }
  .creative .creative__side::after {
    display: none;
  }
  .designs {
    grid-template-columns: 1fr 1fr;
  }
  .designs__item:last-child {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .special {
    grid-template-columns: 1fr 1fr;
  }
  .design {
    display: flex;
    flex-direction: column;
  }
  .design__item {
    margin-bottom: 20px;
  }
  .design__item--d {
    background-color: transparent;
    display: grid;
    column-gap: 25px;
    grid-template-areas: "a b b" "a c c";
    grid-template-rows: minmax(36px, auto) 1fr;
    padding-top: 0;
  }
  .design__item--d .heading,
  .design__item--d .paragraph {
    color: #464646;
    margin: 0 !important;
  }
  .design__item--d .design__img-wrapper {
    width: 256px;
    position: relative;
  }
}

@media screen and (max-width: 700px) {
  .team {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }
  .team__item:last-child {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .team__item:last-child .team__img {
    margin: 0 auto 40px auto;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 60px;
  }
  .creative,
  .special,
  .design,
  .team,
  .portfolio,
  .designs,
  .find-us {
    display: flex;
    flex-direction: column;
  }
  .creative__item,
  .special__item,
  .design__item,
  .team__item,
  .portfolio__item,
  .designs__item,
  .find-us__item {
    display: flex;
    flex-direction: column;
  }
  .creative__item:not(:last-child),
  .special__item:not(:last-child),
  .design__item:not(:last-child),
  .team__item:not(:last-child),
  .portfolio__item:not(:last-child),
  .designs__item:not(:last-child),
  .find-us__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .creative__item .heading,
  .special__item .heading,
  .design__item .heading,
  .team__item .heading,
  .portfolio__item .heading,
  .designs__item .heading,
  .find-us__item .heading {
    text-align: center;
    margin-bottom: 25px;
    padding: 0;
  }
  .special .heading {
    margin-top: 20px;
  }
  .design__item {
    align-items: center;
    margin-bottom: 40px;
  }
  .design__item:last-child {
    margin-bottom: 0;
  }
  .design__item--d {
    justify-content: flex-start;
    min-height: auto;
  }
  .design__item--d .design__img-wrapper {
    max-height: 190px;
    margin-bottom: 30px;
  }
  .design__img {
    margin-bottom: 30px;
  }
  .design__date-wrapper {
    bottom: 40px;
  }
  .team__item {
    background-color: #ffffff;
    padding: 30px;
  }
  .team__img {
    object-fit: contain;
  }
  .portfolio__item:hover .portfolio__img {
    cursor: default;
    transform: none;
  }
  .portfolio__item--d {
    width: 100%;
    text-align: center;
    margin-bottom: 0 !important;
    order: -1;
  }
  .find-us__img {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 50px;
  }
}
/*# sourceMappingURL=style.css.map */